
.buscar {
    width: 100%;
    margin: 8px;
    display: flex;
    padding-left: 20px;
    border-left: 4px solid rgb(233, 230, 230);
}
.buscar img {
    width: 27px;
    height: 60px;
    margin-right: 10px;
}
.inputArea {
    width: 100%;
}
input[type=text] {
    width: 85%;
    padding: 19px;
    border: none;
    background-color: rgb(239 237 237);
    font-size: 22px;
    
}
@media (max-width: 800px){
    input[type=text] {
        
        font-size: 17px;
        
    }
}
@media (max-width: 700px){
    input[type=text] {
        padding: 14px 7px;
        width: 100%;
        font-size: 14px;
    }
    .buscar {
        padding-left: 7px;
    }
    .buscar img {
        width: 19px;
        height: 46px;
        margin-right: 1px;
    }

}