.cardsC {
    width: 350px;
    height: 470px;
    border: 1px solid black;
    box-shadow: 0 15px 8px 0 rgb(0 0 0 / 20%), 0 15px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    color: rgb(230, 222, 222);
    text-shadow: 1px 1px 2px black, 0 0 25px #00004a, 0 0 5px darkblue;    
}
.cardsC:hover {
    border: 1px solid #ec0707;
    box-shadow: 0 15px 8px 0 rgb(154 8 8 / 20%), 0 15px 20px 0 rgb(181 181 52 / 19%);
}
.nameC {    
    padding-left: 20px;
    padding-bottom: 10px;
    z-index: 2;

}
.cardImageC {
    width: 350px;
    height: 470px;
    position: absolute;
    /* z-index: -1; */
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cardImageC img {
    width: auto;
}
.starCardC {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    width: 310px;
    height: 40px;
    margin-top: 20px;
    z-index: 2;    
}
.starCardC img {
    width: 30px;
    height: 30px;
    background-color: #000000;
    box-shadow: 1px 1px 2px black, 0 0 25px #00004a, 0 0 5px darkblue;
    cursor: pointer;
}


@media (max-width: 500px){
    .cardsC {
        width: 300px;
        height: 420px;
    }
    .cardImageC {
    
        width: 300px;
        height: 420px;
        
    }
}