
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 180px;   
    max-width: 1500px; 
    margin-bottom: 100px;
}

@media (max-width: 700px){
    .contenedor {
        margin-top: 100px;
    }

}
